$main-white: #fefefe;
$main-black: #1f1f1f;
$main-gray: #4a4a4a;
$container-beige: #f3eada;

//main-color
$main-green: #00bfa5;
$main-green-light: #5df2d6;
$main-green-dark: #008e76;
$main-green-darker: #285e72;
$main-green-darkest: #2b4f3b;

//highlight-color
$highlight-orange: #ffa17a;
$highlight-orange-light: #fa8e43;

//special-color
$special-violet: #a59dff;

//tab
$tab-selected-background: #fefefe;
$tab-selected-color: #285e72;

$tab-hover-background: #ffa17a;
$tab-background: #f3eada;
$tab-color: #1f1f1f;

$section-background: #fefefe;

//table
$table-background: #fefefe;
$table-outer: #2b4f3b;
$table-border: #285e72;

//foter
$footer-divider: #2b4f3b;
