@import "../../styles/variables.scss";

.footer {
  margin-top: 2em;
  padding-bottom: 1rem;

  .divider {
    border: 0.5px solid $footer-divider;
    margin: 0 15px 5px 8vw;
  }
  .container {
    display: flex;
    flex-direction: row;
    margin-left: 8vw;
    justify-content: space-between;
    padding-right: 10em;
    div {
      padding: auto;
      color: $main-black;
    }
  }
}
